<% @involved_games.each do |game| %>
<p><%= game.date.strftime("%a, %b %d, %Y") %>:   <a href="<%= game_url(game) %>"><%= game.away_team.name %> @ <%= game.home_team.name %></a></p>
<% end %>

<br>

<h1>Offense</h1>
<ul class="group">
  <li class="table-name">Name</li>
  <li class="table-attribute">Position</li>
    <li class="table-attribute">Median</li>
  <li class="table-attribute">Avg Fantasy Points Per Game</li>
  <li class="table-attribute">STDEV</li>
  
</ul>
<% @team_players_list.each do |player| %>
<ul class="group">
  <li class="table-name"><a href="<%= player_url(player["id"]) %>"><%= player["name"] %></a></li>
  <li class="table-attribute"><%= player["position"] %></li>
    <li class="table-attribute"><%= player["median"] %></li>
  <li class="table-attribute"><%= player["average"].round(2) %></li>
  <li class="table-attribute"><%= player["stdev"] %></li>
</ul>
<% end %>