<% @involved_games.each do |game| %>
<p><%= game.date.strftime("%a, %b %d, %Y") %>:   <a href="<%= game_url(game) %>"><%= game.away_team.name %> @ <%= game.home_team.name %></a></p>
<% end %>

<br>

<h1>Offense</h1>
<ul class="group">
  <li class="table-name">Name</li>
  <li class="table-attribute">Position</li>
  <li class="table-attribute">Avg Fantasy Points Per Game</li>
  <li class="table-attribute">Median</li>
  <li class="table-attribute">STDEV</li>
  
</ul>
<% @team_players_list.each do |player| %>
<ul class="group">
  <li class="table-name"><a href="<%= player_url(player["id"]) %>"><%= player["name"] %></a></li>
  <li class="table-attribute"><%= player["position"] %></li>
  <li class="table-attribute"><%= player["average"].round(2) %></li>
  <li class="table-attribute"><%= player["median"] %></li>
  <li class="table-attribute"><%= player["stdev"] %></li>
</ul>
<% end %>

  
<br>
<h1>Defense</h1>
<h2><%= @team.name %></h2>
<ul class="group">
  <li class="table-attribute">Position</li>
  <li class="table-attribute">Avg PPM Against <%= @team.name %></li>
  <li class="table-attribute">Avg PPM Of Opponents</li>
  <li class="table-attribute">Avg PPM Against League</li>
  <li class="table-attribute">League Multiplier</li>
  <li class="table-attribute">Opponents Multiplier</li>
</ul>

<br>

<ul class="group">
  <li class="table-attribute">PG</li>
  <li class="table-attribute"><%= @against_team["PG"]["avg_points"] %></li>
  <li class="table-attribute"><%= @all_opponents["PG"]["avg_points"] %></li>
  <li class="table-attribute"><%= @league["PG"]["avg_points"] %></li>
  <li class="table-attribute"><%= @league_multiplier["PG"][@team.name] %></li>
  <li class="table-attribute"><%= @opponents_multiplier["PG"][@team.name] %></li>
</ul>

<ul class="group">
  <li class="table-attribute">SG</li>
  <li class="table-attribute"><%= @against_team["SG"]["avg_points"] %></li>
  <li class="table-attribute"><%= @all_opponents["SG"]["avg_points"] %></li>
  <li class="table-attribute"><%= @league["SG"]["avg_points"] %></li>
  <li class="table-attribute"><%= @league_multiplier["SG"][@team.name] %></li>
  <li class="table-attribute"><%= @opponents_multiplier["SG"][@team.name] %></li>
</ul>

<ul class="group">
  <li class="table-attribute">SF</li>
  <li class="table-attribute"><%= @against_team["SF"]["avg_points"] %></li>
  <li class="table-attribute"><%= @all_opponents["SF"]["avg_points"] %></li>
  <li class="table-attribute"><%= @league["SF"]["avg_points"] %></li>
  <li class="table-attribute"><%= @league_multiplier["SF"][@team.name] %></li>
  <li class="table-attribute"><%= @opponents_multiplier["SF"][@team.name] %></li>
</ul>

<ul class="group">
  <li class="table-attribute">PF</li>
  <li class="table-attribute"><%= @against_team["PF"]["avg_points"] %></li>
  <li class="table-attribute"><%= @all_opponents["PF"]["avg_points"] %></li>
  <li class="table-attribute"><%= @league["PF"]["avg_points"] %></li>
  <li class="table-attribute"><%= @league_multiplier["PF"][@team.name] %></li>
  <li class="table-attribute"><%= @opponents_multiplier["PF"][@team.name] %></li>
</ul>

<ul class="group">
  <li class="table-attribute">C</li>
  <li class="table-attribute"><%= @against_team["C"]["avg_points"] %></li>
  <li class="table-attribute"><%= @all_opponents["C"]["avg_points"] %></li>
  <li class="table-attribute"><%= @league["C"]["avg_points"] %></li>
  <li class="table-attribute"><%= @league_multiplier["C"][@team.name] %></li>
  <li class="table-attribute"><%= @opponents_multiplier["C"][@team.name] %></li>
</ul>

