<h2><%= @team.name %></h2>
<ul class="group">
  <li class="table-attribute">Position</li>
  <li class="table-attribute">Avg Points Against This Team</li>
  <li class="table-attribute">Avg Points Against League</li>
  <li class="table-attribute">Multiplier</li>
</ul>

<br>

<ul class="group">
  <li class="table-attribute">PG</li>
  <li class="table-attribute"><%= @against_team_avg_pg_points %></li>
  <li class="table-attribute"><%= @league_avg_pg_points %></li>
  <li class="table-attribute"><%= @pg_multiplier %></li>
</ul>

<ul class="group">
  <li class="table-attribute">SG</li>
  <li class="table-attribute"><%= @against_team_avg_sg_points %></li>
  <li class="table-attribute"><%= @league_avg_sg_points %></li>
  <li class="table-attribute"><%= @sg_multiplier %></li>
</ul>

<ul class="group">
  <li class="table-attribute">SF</li>
  <li class="table-attribute"><%= @against_team_avg_sf_points %></li>
  <li class="table-attribute"><%= @league_avg_sf_points %></li>
  <li class="table-attribute"><%= @sf_multiplier %></li>
</ul>

<ul class="group">
  <li class="table-attribute">PF</li>
  <li class="table-attribute"><%= @against_team_avg_pf_points %></li>
  <li class="table-attribute"><%= @league_avg_pf_points %></li>
  <li class="table-attribute"><%= @pf_multiplier %></li>
</ul>

<ul class="group">
  <li class="table-attribute">C</li>
  <li class="table-attribute"><%= @against_team_avg_c_points %></li>
  <li class="table-attribute"><%= @league_avg_c_points %></li>
  <li class="table-attribute"><%= @c_multiplier %></li>
</ul>

