<h2><a target="_blank" href="<%= team_url(@game.home_team) %>"><%= @game.home_team.name %></a></h2>
<ul class="group">
  <li class="table-name">Name</li>
  <li class="table-attribute">Position</li>
  <% @game.player_games[0].attributes.each do |key, value| %>
    <% next if key == "id" || key == "created_at" || key == "updated_at" || key == "player_id" || key == "game_id" %>
    <li class="table-attribute"><%= key %></li>
  <% end %>
  <li class="table-attribute">Total Fantasy Points</li>
</ul>
<% @home_team_players.each do |player_game| %>
  <ul class="group">
    <li class="table-name"><a target="_blank" href="<%= player_url(player_game.player_id) %>"><%= player_game.player.name %></a></li>
    <li class="table-attribute"><%= player_game.player.position %></li>
  <% player_game.attributes.each do |key, value| %>
    <% next if key == "id" || key == "created_at" || key == "updated_at" || key == "player_id" || key == "game_id" %>
    <li class="table-attribute"><%= value %></li>
  <% end %>
  <li class="table-attribute"><%= player_game.total_fantasy_points %></li>
  </ul>
<% end %>

<br>
<h2><a target="_blank" href="<%= team_url(@game.away_team) %>"><%= @game.away_team.name %></a></h2>
<ul class="group">
  <li class="table-name">Name</li>
  <li class="table-attribute">Position</li>
  <% @game.player_games[0].attributes.each do |key, value| %>
    <% next if key == "id" || key == "created_at" || key == "updated_at" || key == "player_id" || key == "game_id" %>
    <li class="table-attribute"><%= key %></li>
  <% end %>
  <li class="table-attribute">Total Fantasy Points</li>
</ul>
<% @away_team_players.each do |player_game| %>
  <ul class="group">
    <li class="table-name"><a target="_blank" href="<%= player_url(player_game.player_id) %>"><%= player_game.player.name %></a></li>
    <li class="table-attribute"><%= player_game.player.position %></li>
  <% player_game.attributes.each do |key, value| %>
    <% next if key == "id" || key == "created_at" || key == "updated_at" || key == "player_id" || key == "game_id" %>
    <li class="table-attribute"> <%= value %></li>
  <% end %>
  <li class="table-attribute"><%= player_game.total_fantasy_points %></li>
  </ul>
<% end %>