<h2>For <%= Date.parse(Time.now.to_s).strftime("%a, %b %d, %Y") %></h2>
<br>
<ul class="group">
  <li class="table-name">Name</li>
  <li class="table-name">Position</li>
  <li class="table-name">Opponent</li>
  <li class="table-attribute">Average Fantasy Points</li>
  <li class="table-attribute">Expected Fantasy Points</li>
  <li class="table-attribute">STDEV</li>
  <li class="table-attribute">STDEV NORMALIZED</li>
  <li class="table-attribute">League Multiplier</li>
  <li class="table-attribute">Opponents Multiplier</li>
  <li class="table-attribute">Adjusted FP - League</li>
  <li class="table-attribute">Adjusted FP - Opp</li>
</ul>

<% @player_array.each do |player_hash| %>
<ul class="group">
  <% player_hash.each do |key, value| %>
    <% next if key == "id" %>
    <% if key == "name" %>
      <li class="table-name"><a href="<%= player_url(player_hash["id"]) %>"><%= value %></a></li>
    <% elsif value.class == String %>
      <li class="table-name"><%= value %></li>
    <% else %>
      <li class="table-attribute"><%= value.round(2) %></li>
    <% end %>
  <% end %>
</ul>
<% end %>