<h2>For <%= Date.parse(Time.now.to_s).strftime("%a, %b %d, %Y") %></h2>
<br>
<ul class="group">
  <li class="table-name">Name</a></li>
  <li class="table-attribute">Median Minutes</li>
  <li class="table-long">Status</li>
</ul>

<% @players.each do |player| %>
  <ul class="group">
    <li class="table-name"><a href="<%= player_url(player) %>"><%= player.name %></a></li>
    <li class="table-attribute"><%= player.median_minutes %></li>
    <% unless @blacklist[player.name].nil? %>
      <li class="table-long"><%= @blacklist[player.name]%></li>
    <% end %>
  </ul>
<% end %>
