<h1><%= @player.name %></h1>
<ul class="group">
  <li class="table-name">Date</li>
  <li class="table-name">Matchup</li>
  <li class="table-attribute">Minutes</li>
  <li class="table-attribute">Total Fantasy Points</li>
  <li class="table-attribute">Fantasy PPM</li>
  <li class="table-attribute">% of Team Fantasy PPM</li>
</ul>
<% @player_games.each do |player_game| %>
<ul class="group">
  <li class="table-name"><%= player_game.game.date %></li>
  <li class="table-name"><a href="<%= game_url(player_game.game) %>"><%= player_game.game.away_team.name %> @ <%= player_game.game.home_team.name %></a></li>
  <li class="table-attribute"><%= player_game.minutes %></li>
  <li class="table-attribute"><%= player_game.total_fantasy_points %></li>
  <li class="table-attribute"><%= (player_game.total_fantasy_points/player_game.minutes).round(2) %></li>
  <li class="table-attribute"><%= (player_game.total_fantasy_points / player_game.game.total_fantasy_points_for_team(player_game.team_id)).round(2) %>
</ul>
<% end %>
<br>
<ul class="group">
  <li class="table-name">Medians</li>
  <li class="table-name">==></li>
  <li class="table-attribute"><%= @player.median_minutes %></li>
  <li class="table-attribute"><%= @player.median_fantasy_points %></li>
</ul>
<br>
<ul class="group">
  <li class="table-name">Median Last 5</li>
  <li class="table-name">==></li>
  <li class="table-attribute"><%= @player.median_minutes(5) %></li>
  <li class="table-attribute"><%= @player.median_fantasy_points(5) %></li>
</ul>
<br>
<ul class="group">
  <li class="table-name">Median Last 15</li>
  <li class="table-name">==></li>
  <li class="table-attribute"><%= @player.median_minutes(15) %></li>
  <li class="table-attribute"><%= @player.median_fantasy_points(15) %></li>
</ul>
<br>
<ul class="group">
  <li class="table-name">Median Home</li>
  <li class="table-name">==></li>
  <li class="table-attribute"><%= @player.median_minutes_in_home_games %></li>
  <li class="table-attribute"><%= @player.median_fantasy_points_in_home_games %></li>
</ul>
<br>
<ul class="group">
  <li class="table-name">Median Away</li>
  <li class="table-name">==></li>
  <li class="table-attribute"><%= @player.median_minutes_in_away_games %></li>
  <li class="table-attribute"><%= @player.median_fantasy_points_in_away_games %></li>
</ul>