<!DOCTYPE html>
<html>
<head>
  <title>DFSApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <ul class="group">
    <li class="header-link"><a href="<%= root_url %>">Index</a></li>
    <li class="header-link"><a href="#">Daily Projections</a></li>
  </ul>
</header>
<%= yield %>

</body>
</html>
